
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    background:#F2F2F2;
    font-family: 'Montserrat', sans-serif;
}
.headerDiv {
    text-align: center;
    margin-bottom:2%;
}

.navigationDiv ul {
    background: #02b875;
    width:80%;
    display: table;
    padding:0;
    margin:10px 10%;
}

.navigationDiv ul li {
    list-style: none;
    display:table-cell;
    width: 33.33%;
    height: 40px;
    text-align: center;
    font-size:14px;
}

.navigationDiv ul li a  {
    color:#fff;
    display:block;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
}
.navigationDiv ul li a:hover {
    background:#fff;
    color: #02b875;
    transition:.3s;
}

.mainDiv {
    padding:10px;
    margin-top:25px;
    width: 80%;
    display:block;
    margin: 0 auto;

}

.active {
   background-color:#058f5c; 
}
